<!DOCTYPE html>
<html>
    <head>
        <title>Thank You</title>
        <%- include('../partials/imports') %>
    </head>
    <body class="dev_scribble_text dev_contain dev_center">
        <div class="col-12">
            <h1>Thank you for registering!</h1>
            <br><br>
            <a href="/" class="btn btn-primary dev_med_button">Go back home</a>
        </div>
    </body>
</html>