<!DOCTYPE html>
<html>
    <head>
        <title>Thank You</title>
        <%- include('../partials/imports') %>
    </head>
    <body>
        <h1>Thank you for registering!</h1>
        <a href="/"><button>Go back home</button></a>
    </body>
</html>