<!DOCTYPE html>
<html>

    <head>
        <title>Tornado</title>
        <%- include('../partials/imports')%>
    </head>

    <body class="dev_scribble_text">
        <%- include('../partials/header') %>        

		<div class="row dev_contain dev_center">
            <div class="col-12">
                <% if(errors) {%>
                    <% errors.forEach(function(err){%>
                        <p style="color: red">***<%= err.msg %>***</p>
                    <%})%>
                <% }%>
                <form action="/auth/register" method="POST" class="align-middle">
                    <div>
                        <label for="firstname" class="dev_label_text">Let's start with your first name </label><br>
                        <input type="text" id="firstname" name="firstname" class="form-control dev_input_text dev_center" required>
                    </div>
                    <br>
                    <div>
                        <label for="lastname" class="dev_label_text">... and lastname </label><br>
                        <input type="text" id="lastname" name="lastname" class="form-control dev_input_text dev_center" required>
                    </div>
                    <br>
                    <div>
                        <label for="email" class="dev_label_text">We're going to need your email too </label><br>
                        <input type="email" id="email" name="email" class="form-control dev_input_text dev_center" required>
                    </div>
                    <br>
                    <div>
                        <label for="password" class="dev_label_text">And a password, for secrity </label><br>
                        <input type="password" id="password" name="password" class="form-control dev_input_text dev_center" required>
                    </div>
                    <br>
                    <div>
                        <label for="password_verify" class="dev_label_text">What was that password again? </label><br>
                        <input type="password" id="password_verify" name="password_verify" class="form-control dev_input_text dev_center" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary dev_med_button">register</button><br>
                    <a href="/" class="btn btn-secondary dev_med_button">Go back</a>                    
                </form>
            </div>
        </div>

    </body>

</html>
