<div>
    <div class="row dev_center">
        <div class="col-12" style="padding-top: 2vh; padding-bottom: 2vh">
            <img src="/images/logo.png" alt="tornado_logo" style="max-width:5vw; max-height: 13vh;">
            <h1 style="display: inline;" class="align-middle">TORNADO</h1>
            <br>
            <h5>Goal Management</h5>
        </div>
    </div>
</div>
<hr style="margin: 0vh 10vw 3vh 10vw;">