<!DOCTYPE html>
<html>
	<head>
		<title>Tornado</title>
		<%- include('partials/imports')%>
	</head>
	<body>

		<h1>TORNADO</h1>
		<h3>Login / Register</h3>

		<a href="/auth/login"><button>Login</button></a>
		<a href="/auth/register"><button>Register</button></a>		

	</body>
</html>
